In [1]:
import pandas as pd
import numpy as np

In [44]:
d={"r.no":[101,102,103,104,105],"sname":["a","b","c","d","e"],"sage":[20,19,18,11,19],"samarks":[90,45,60,89,30]}
d

{'r.no': [101, 102, 103, 104, 105],
 'sname': ['a', 'b', 'c', 'd', 'e'],
 'sage': [20, 19, 18, 11, 19],
 'samarks': [90, 45, 60, 89, 30]}

In [45]:
df=pd.DataFrame(d)
df

   r.no sname  sage  samarks
0   101     a    20       90
1   102     b    19       45
2   103     c    18       60
3   104     d    11       89
4   105     e    19       30

In [46]:
#convert dataframe into jsn
json_data=df.to_json(orient="records")
json_data

'[{"r.no":101,"sname":"a","sage":20,"samarks":90},{"r.no":102,"sname":"b","sage":19,"samarks":45},{"r.no":103,"sname":"c","sage":18,"samarks":60},{"r.no":104,"sname":"d","sage":11,"samarks":89},{"r.no":105,"sname":"e","sage":19,"samarks":30}]'

In [47]:
#convert json data into data frame
json_df=pd.read_json(json_data)
json_df

   r.no  sage  samarks sname
0   101    20       90     a
1   102    19       45     b
2   103    18       60     c
3   104    11       89     d
4   105    19       30     e

In [48]:
#read html DATA to DATA FRAME
url="https://en.wikipedia.org/wiki/Visakhapatnam_district"
html_df=pd.read_html(url)
type(html_df)

list

In [49]:
len(html_df)

11

In [50]:
html_df[0]

,Visakhapatnam district,Visakhapatnam district.1
0,District of Andhra Pradesh,District of Andhra Pradesh
1,Araku Ghat Road,Araku Ghat Road
2,Nickname(s): Vizag,Nickname(s): Vizag
3,Location of Visakhapatnam district in Andhra P...,Location of Visakhapatnam district in Andhra P...
4,Country,India
5,State,Andhra Pradesh
6,Headquarters,Visakhapatnam
7,Administrative Divisions,4 Revenue divisions46 Mandals3265 Villages(307...
8,Government,Government
9,• District collector,Vadarevu Vinay Chand[1]
10,Area[2]:28,Area[2]:28
11,• District of Andhra Pradesh,"11,161 km2 (4,309 sq mi)"
12,• Urban[2]:28,632.16 km2 (244.08 sq mi)
13,• Rural[2]:28,"10,528.84 km2 (4,065.21 sq mi)"
14,Area rank,14th
15,Population (2011)[3],Population (2011)[3]
16,• District of Andhra Pradesh,4290589
17,• Rank,6th
18,• Density,384/km2 (990/sq mi)
19,• Density rank,8th
20,• Urban[2]:14,2035922
21,• Rural[2]:14,2254667
22,• Households,1097042
23,• Sex ratio,"1,006 (females per 1,000 males)"
24,Languages,Languages
25,• Official,Telugu
26,Literacy,Literacy
27,• Literates,2667878
28,Time zone,UTC+5:30 (IST)
29,Postal Index Number,530xxx
30,Area codes,+91–891
31,ISO 3166 code,IN-AP
32,Vehicle registration,"AP-31, AP-32, AP-33, AP-34, AP–39 (from 30 Jan..."
33,Website,visakhapatnam.nic.in

In [51]:
html_df[1]

,#,Anakapalle Division,Narsipatnam Division,Paderu Division,Visakhapatnam Division
0,1,Anakapalle,Achutapuram,Ananthagiri,Anandapuram
1,2,Butchayyapeta,Golugonda,Araku Valley,Bheemunipatnam
2,3,Cheedikada,Kotauratla,Chintapalle,Gajuwaka
3,4,Chodavaram,Makavarapalem,Dumbriguda,Padmanabham
4,5,Deverapalle,Nakkapalle,G.Madugula,Paravada
5,6,K.Kotapadu,Nathavaram,Gudem Kotha Veedhi,Pedagantyada
6,7,Kasimkota,Narsipatnam,Hukumpeta,Pendurthi
7,8,Madugula,Payakaraopeta,Koyyuru,Sabbavaram
8,9,Munagapaka,Rambilli,Munchingi Puttu,Visakhapatnam Rural
9,10,Ravikamatham,S.Rayavaram,Paderu,Seethammadhara
10,11,Rolugunta,Elamanchili,Peda Bayalu,Maharanipeta
11,12,NaN,NaN,NaN,Gopalapatnam
12,13,NaN,NaN,NaN,Mulagada

# GROUP

In [52]:
d={"r.no":[101,102,103,104,105],"sname":["a","b","c","d","e"],"sage":[20,19,18,11,19],"samarks":[90,45,60,89,30],"branch":["cse","i t","ece","eee","cse"]}
d

{'r.no': [101, 102, 103, 104, 105],
 'sname': ['a', 'b', 'c', 'd', 'e'],
 'sage': [20, 19, 18, 11, 19],
 'samarks': [90, 45, 60, 89, 30],
 'branch': ['cse', 'i t', 'ece', 'eee', 'cse']}

In [53]:
df=pd.DataFrame(d)
df

   r.no sname  sage  samarks branch
0   101     a    20       90    cse
1   102     b    19       45    i t
2   103     c    18       60    ece
3   104     d    11       89    eee
4   105     e    19       30    cse

In [54]:
g=df.groupby("branch")
g

In [55]:
for i,j in g:
    print(i)
    print(j)

cse
   r.no sname  sage  samarks branch
0   101     a    20       90    cse
4   105     e    19       30    cse
ece
   r.no sname  sage  samarks branch
2   103     c    18       60    ece
eee
   r.no sname  sage  samarks branch
3   104     d    11       89    eee
i t
   r.no sname  sage  samarks branch
1   102     b    19       45    i t

In [56]:
g.get_group('cse')

   r.no sname  sage  samarks branch
0   101     a    20       90    cse
4   105     e    19       30    cse

In [57]:
ece=g.get_group('ece')
ece['samarks'].sum()

60

In [58]:
df.sort_values('sage')

   r.no sname  sage  samarks branch
3   104     d    11       89    eee
2   103     c    18       60    ece
1   102     b    19       45    i t
4   105     e    19       30    cse
0   101     a    20       90    cse

In [59]:
df.sort_values('sage',ascending=False)

   r.no sname  sage  samarks branch
0   101     a    20       90    cse
1   102     b    19       45    i t
4   105     e    19       30    cse
2   103     c    18       60    ece
3   104     d    11       89    eee

In [60]:
df

   r.no sname  sage  samarks branch
0   101     a    20       90    cse
1   102     b    19       45    i t
2   103     c    18       60    ece
3   104     d    11       89    eee
4   105     e    19       30    cse

In [61]:
df[df['sage']>=20]

   r.no sname  sage  samarks branch
0   101     a    20       90    cse

In [62]:
#concate
d1={'city':['vsp','guntur','hyd'],
    "count":[200,100,240],
    "square":[200.45,343.54,556.6]}
d1

{'city': ['vsp', 'guntur', 'hyd'],
 'count': [200, 100, 240],
 'square': [200.45, 343.54, 556.6]}

In [63]:
df1=pd.DataFrame(d1)
df1

     city  count  square
0     vsp    200  200.45
1  guntur    100  343.54
2     hyd    240  556.60

In [64]:
d2={'city':['chennai','bangalore','delhi'],
    "count":[280,190,280],
    "square":[500.45,393.54,656.6]}
d2

{'city': ['chennai', 'bangalore', 'delhi'],
 'count': [280, 190, 280],
 'square': [500.45, 393.54, 656.6]}

In [65]:
df2=pd.DataFrame(d2)
df2

        city  count  square
0    chennai    280  500.45
1  bangalore    190  393.54
2      delhi    280  656.60

In [66]:
total_df=pd.concat([df1,df2])
total_df

        city  count  square
0        vsp    200  200.45
1     guntur    100  343.54
2        hyd    240  556.60
0    chennai    280  500.45
1  bangalore    190  393.54
2      delhi    280  656.60

In [67]:
total_df=pd.concat([df1,df2],ignore_index=True)
total_df

        city  count  square
0        vsp    200  200.45
1     guntur    100  343.54
2        hyd    240  556.60
3    chennai    280  500.45
4  bangalore    190  393.54
5      delhi    280  656.60

In [71]:
total_df=pd.concat([df1,df2],keys=['a','b'])
total_df

          city  count  square
a 0        vsp    200  200.45
  1     guntur    100  343.54
  2        hyd    240  556.60
b 0    chennai    280  500.45
  1  bangalore    190  393.54
  2      delhi    280  656.60

In [72]:
d={"sno":[101,102,103,104,105],"sname":["a","b","c","d","e"],"sage":[20,19,18,11,19]}
d

{'sno': [101, 102, 103, 104, 105],
 'sname': ['a', 'b', 'c', 'd', 'e'],
 'sage': [20, 19, 18, 11, 19]}

In [74]:
df=pd.DataFrame(d)
df

   sno sname  sage
0  101     a    20
1  102     b    19
2  103     c    18
3  104     d    11
4  105     e    19

In [75]:
d2={"sno":[101,102,103,104,115],"saddress":["aa","bb","cc","dd","ee"],"smarks":[50,39,78,81,79]}
d

{'sno': [101, 102, 103, 104, 105],
 'sname': ['a', 'b', 'c', 'd', 'e'],
 'sage': [20, 19, 18, 11, 19]}

In [76]:
df2=pd.DataFrame(d2)
df2

   sno saddress  smarks
0  101       aa      50
1  102       bb      39
2  103       cc      78
3  104       dd      81
4  115       ee      79

In [79]:
df_merge=pd.merge(df,df2,on='sno')
df_merge

   sno sname  sage saddress  smarks
0  101     a    20       aa      50
1  102     b    19       bb      39
2  103     c    18       cc      78
3  104     d    11       dd      81

In [80]:
df_merge=pd.merge(df,df2,on='sno',how='left')
df_merge

   sno sname  sage saddress  smarks
0  101     a    20       aa    50.0
1  102     b    19       bb    39.0
2  103     c    18       cc    78.0
3  104     d    11       dd    81.0
4  105     e    19      NaN     NaN

In [81]:
df_merge=pd.merge(df,df2,on='sno',how='right')
df_merge

   sno sname  sage saddress  smarks
0  101     a  20.0       aa      50
1  102     b  19.0       bb      39
2  103     c  18.0       cc      78
3  104     d  11.0       dd      81
4  115   NaN   NaN       ee      79

In [83]:
df_outer_join=pd.merge(df,df2,on='sno',how='outer')
df_outer_join

   sno sname  sage saddress  smarks
0  101     a  20.0       aa    50.0
1  102     b  19.0       bb    39.0
2  103     c  18.0       cc    78.0
3  104     d  11.0       dd    81.0
4  105     e  19.0      NaN     NaN
5  115   NaN   NaN       ee    79.0

In [85]:
df_merge=pd.merge(df,df2,on='sno',how='outer')
df_merge

   sno sname  sage saddress  smarks
0  101     a  20.0       aa    50.0
1  102     b  19.0       bb    39.0
2  103     c  18.0       cc    78.0
3  104     d  11.0       dd    81.0
4  105     e  19.0      NaN     NaN
5  115   NaN   NaN       ee    79.0

In [95]:
df2

   sno saddress  smarks
0  101       aa      50
1  102       bb      39
2  103       cc      78
3  104       dd      81
4  115       ee      79

In [109]:
l=[]
for i in df2['smarks']:
    if(i < 25):
        l.append("failed")
    elif(i>25 and i<50):
        l.append("third")
    elif(i>50 and i<90):
        l.append("second")
    else:
        l.append("first")
df2['grade']=l
df2

   sno saddress  smarks   grade
0  101       aa      50   first
1  102       bb      39   third
2  103       cc      78  second
3  104       dd      81  second
4  115       ee      79  second

In [111]:
import pandas as pd
import requests
url="https://www.worldcoinindex.com/"
data=requests.get(url)
data

In [113]:
h=pd.read_html(data.text)
h
type(h)

list

In [114]:
h[0]

,#,Unnamed: 1,Name,Ticker,Last price,%,24 high,24 low,Price Charts 7d,24 volume,# Coins,Market cap
0,1,NaN,Bitcoin,BTC,"$ 51,681",-0.88%,"$ 52,539","$ 51,396",NaN,$ 19.46B,18.63M,$ 962.91B
1,2,NaN,Ethereum,ETH,"$ 1,912.63",+3.38%,"$ 1,927.75","$ 1,850.07",NaN,$ 13.92B,114.72M,$ 219.41B
2,3,NaN,Litecoin,LTC,$ 231.64,-2.38%,$ 238.68,$ 226.88,NaN,$ 4.25B,66.08M,$ 15.30B
3,4,NaN,Binancecoin,BNB,$ 182.99,+10.64%,$ 195.23,$ 163.06,NaN,$ 3.93B,99.01M,$ 18.11B
4,5,NaN,Ripple,XRP,$ 0.537995,+0.77%,$ 0.558715,$ 0.533892,NaN,$ 2.56B,45.67B,$ 24.57B
5,6,NaN,Cardano,ADA,$ 0.940584,+5.50%,$ 0.957145,$ 0.891570,NaN,$ 2.08B,25.92B,$ 24.38B
6,7,NaN,Payprotocol,PCI,$ 2.10,-38.50%,$ 3.85,$ 1.92,NaN,$ 1.93B,NaN,NaN
7,8,NaN,Bitcoincash,BCH,$ 713.66,-0.42%,$ 729.02,$ 708.77,NaN,$ 1.86B,18.45M,$ 13.17B
8,9,NaN,Eos,EOS,$ 4.82,-0.30%,$ 4.98,$ 4.78,NaN,$ 1.75B,1.01B,$ 4.91B
9,10,NaN,Polkadot,DOT,$ 31.25,-2.27%,$ 32.61,$ 31.11,NaN,$ 1.41B,947.85M,$ 29.62B
10,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...
11,11,NaN,Chainlink,LINK,$ 32.68,+1.35%,$ 33.56,$ 32.21,NaN,$ 1.38B,350.00M,$ 11.43B
12,12,NaN,Dogecoin,DOGE,$ 0.051164,+4.39%,$ 0.053674,$ 0.048722,NaN,$ 1.27B,124.53B,$ 6.37B
13,13,NaN,Binanceusd,BUSD,$ 1.00,-0.10%,$ 1.00,$ 0.997228,NaN,$ 1.16B,1.68B,$ 1.68B
14,14,NaN,Bora,BORA,$ 0.268221,+465.32%,$ 0.344352,$ 0.044489,NaN,$ 1.10B,NaN,NaN
15,15,NaN,Tron,TRX,$ 0.053231,+2.10%,$ 0.054744,$ 0.052138,NaN,$ 1.03B,66.68B,$ 3.54B
16,16,NaN,Stellarlumens,XLM,$ 0.500268,+0.68%,$ 0.515216,$ 0.496874,NaN,$ 1.03B,22.43B,$ 11.22B
17,17,NaN,Ethereumclassic,ETC,$ 15.21,-0.76%,$ 15.78,$ 15.02,NaN,$ 1.02B,109.78M,$ 1.66B
18,18,NaN,Iostoken,IOST,$ 0.038760,-3.45%,$ 0.041232,$ 0.038101,NaN,$ 1.01B,6.79B,$ 263.34M
19,19,NaN,Dash,DASH,$ 266.52,-0.11%,$ 269.69,$ 259.33,NaN,$ 854.36M,9.97M,$ 2.65B
20,20,NaN,Cosmos,ATOM,$ 24.22,+1.54%,$ 24.92,$ 23.44,NaN,$ 828.49M,190.68M,$ 4.61B
21,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...
22,21,NaN,Zcash,ZEC,$ 162.10,-3.82%,$ 170.99,$ 160.75,NaN,$ 796.20M,11.15M,$ 1.80B
23,22,NaN,Neo,NEO,$ 43.03,+1.11%,$ 43.75,$ 42.37,NaN,$ 747.95M,70.53M,$ 3.03B
24,23,NaN,Aave,AAVE,$ 472.52,+4.70%,$ 478.23,$ 448.85,NaN,$ 675.57M,10.58M,$ 4.99B
25,24,NaN,Uniswap,UNI,$ 21.47,-0.24%,$ 22.24,$ 21.26,NaN,$ 638.72M,126.20M,$ 2.70B
26,25,NaN,The Graph,GRT,$ 2.22,+1.70%,$ 2.35,$ 2.16,NaN,$ 635.49M,1.22B,$ 2.72B
27,26,NaN,Monero,XMR,$ 265.19,-2.57%,$ 276.31,$ 262.21,NaN,$ 624.77M,16.92M,$ 4.48B
28,27,NaN,Qtum,QTUM,$ 6.93,+4.35%,$ 7.26,$ 6.64,NaN,$ 622.80M,89.40M,$ 619.55M
29,28,NaN,Huobitoken,HT,$ 15.30,+6.61%,$ 15.59,$ 13.88,NaN,$ 527.82M,50.00M,$ 765.00M
...,...,...,...,...,...,...,...,...,...,...,...,...
72,71,NaN,Mdex,MDX,$ 3.93,+12.83%,$ 4.16,$ 3.35,NaN,$ 135.78M,NaN,NaN
73,72,NaN,Bat,BAT,$ 0.597943,+4.07%,$ 0.605875,$ 0.574567,NaN,$ 132.43M,1.50B,$ 896.91M
74,73,NaN,SafePal,SFP,$ 3.07,-5.23%,$ 3.34,$ 3.03,NaN,$ 129.80M,NaN,NaN
75,74,NaN,Compound,COMP,$ 465.52,-1.83%,$ 480.25,$ 459.56,NaN,$ 126.72M,2.56M,$ 1.19B
76,75,NaN,Bitcoinsv,BCHSV,$ 243.79,-0.42%,$ 255.87,$ 240.82,NaN,$ 126.11M,18.45M,$ 4.49B
77,76,NaN,Litentry,LIT,$ 11.78,+5.45%,$ 12.48,$ 11.14,NaN,$ 120.07M,18.00M,$ 211.96M
78,77,NaN,Loopring,LRC,$ 0.780377,+2.80%,$ 0.808822,$ 0.755669,NaN,$ 118.18M,286.17M,$ 223.32M
79,78,NaN,Nano,NANO,$ 6.65,+4.06%,$ 6.79,$ 6.39,NaN,$ 116.31M,133.24M,$ 886.34M
80,79,NaN,Dfi.money,YFII,"$ 3,222.29",-3.65%,"$ 3,457.94","$ 3,179.26",NaN,$ 116.08M,40.00K,$ 128.89M
81,80,NaN,Dai,DAI,$ 1.00,-0.21%,$ 1.01,$ 0.996306,NaN,$ 115.52M,NaN,NaN
82,81,NaN,Venus,XVS,$ 67.91,+13.59%,$ 71.29,$ 58.22,NaN,$ 114.64M,NaN,NaN
83,82,NaN,Mainframe,MFT,$ 0.019639,-0.88%,$ 0.020877,$ 0.019056,NaN,$ 108.32M,2.16B,$ 42.49M
84,83,NaN,Dvision Network,DVI,$ 0.128684,+1.15%,$ 0.149941,$ 0.123617,NaN,$ 101.55M,NaN,NaN
85,84,NaN,Alpha Finance Lab,ALPHA,$ 1.66,-1.13%,$ 1.86,$ 1.64,NaN,$ 101.28M,NaN,NaN
86,85,NaN,Kyber,KNC,$ 2.14,+0.63%,$ 2.20,$ 2.11,NaN,$ 97.07M,180.93M,$ 387.11M
87,86,NaN,Ren,REN,$ 1.02,+0.49%,$ 1.06,$ 0.998767,NaN,$ 95.21M,520.32M,$ 532.43M
88,87,NaN,Horizen,ZEN,$ 79.84,+8.13%,$ 84.59,$ 72.63,NaN,$ 92.29M,8.92M,$ 712.20M
89,88,NaN,Metal,MTL,$ 0.965393,+13.67%,$ 1.21,$ 0.849267,NaN,$ 91.97M,66.58M,$ 64.28M
90,89,NaN,Decentraland,MANA,$ 0.303364,+1.54%,$ 0.319541,$ 0.295889,NaN,$ 89.96M,1.05B,$ 318.57M
91,90,NaN,Fantom,FTM,$ 0.217575,+31.64%,$ 0.219661,$ 0.165094,NaN,$ 89.70M,1.81B,$ 394.60M
92,91,NaN,Reserverights,RSR,$ 0.061500,+8.22%,$ 0.062530,$ 0.056813,NaN,$ 88.42M,9.34B,$ 574.88M
93,92,NaN,Maker,MKR,"$ 2,624.28",+0.58%,"$ 2,702.24","$ 2,600.35",NaN,$ 87.65M,1.00M,$ 2.63B
94,93,NaN,Ravencoin,RVN,$ 0.083723,+13.08%,$ 0.084603,$ 0.073799,NaN,$ 87.12M,7.18B,$ 601.67M
95,94,NaN,Ftxtoken,FTT,$ 24.68,+6.12%,$ 25.22,$ 23.25,NaN,$ 85.87M,94.34M,$ 2.32B
96,95,NaN,NuCypher,NU,$ 0.778309,-1.47%,$ 0.806834,$ 0.769248,NaN,$ 82.41M,349.42M,$ 271.96M
97,96,NaN,Kava,KAVA,$ 4.75,+1.08%,$ 4.96,$ 4.70,NaN,$ 80.92M,6.23M,$ 29.61M
98,97,NaN,Celo,CELO,$ 4.64,-3.20%,$ 4.92,$ 4.63,NaN,$ 78.05M,97.94M,$ 454.71M
99,98,NaN,Anchor Neural World,ANW,$ 0.109046,+3.03%,$ 0.112569,$ 0.104026,NaN,$ 77.87M,NaN,NaN
100,99,NaN,Serum,SRM,$ 3.95,+3.50%,$ 4.01,$ 3.80,NaN,$ 76.36M,31.00M,$ 122.41M
101,100,NaN,Tenx,PAY,$ 0.160727,+0.41%,$ 0.169750,$ 0.155224,NaN,$ 74.87M,205.21M,$ 32.98M

In [115]:
df=pd.DataFrame(h[0])

In [116]:
df

,#,Unnamed: 1,Name,Ticker,Last price,%,24 high,24 low,Price Charts 7d,24 volume,# Coins,Market cap
0,1,NaN,Bitcoin,BTC,"$ 51,681",-0.88%,"$ 52,539","$ 51,396",NaN,$ 19.46B,18.63M,$ 962.91B
1,2,NaN,Ethereum,ETH,"$ 1,912.63",+3.38%,"$ 1,927.75","$ 1,850.07",NaN,$ 13.92B,114.72M,$ 219.41B
2,3,NaN,Litecoin,LTC,$ 231.64,-2.38%,$ 238.68,$ 226.88,NaN,$ 4.25B,66.08M,$ 15.30B
3,4,NaN,Binancecoin,BNB,$ 182.99,+10.64%,$ 195.23,$ 163.06,NaN,$ 3.93B,99.01M,$ 18.11B
4,5,NaN,Ripple,XRP,$ 0.537995,+0.77%,$ 0.558715,$ 0.533892,NaN,$ 2.56B,45.67B,$ 24.57B
5,6,NaN,Cardano,ADA,$ 0.940584,+5.50%,$ 0.957145,$ 0.891570,NaN,$ 2.08B,25.92B,$ 24.38B
6,7,NaN,Payprotocol,PCI,$ 2.10,-38.50%,$ 3.85,$ 1.92,NaN,$ 1.93B,NaN,NaN
7,8,NaN,Bitcoincash,BCH,$ 713.66,-0.42%,$ 729.02,$ 708.77,NaN,$ 1.86B,18.45M,$ 13.17B
8,9,NaN,Eos,EOS,$ 4.82,-0.30%,$ 4.98,$ 4.78,NaN,$ 1.75B,1.01B,$ 4.91B
9,10,NaN,Polkadot,DOT,$ 31.25,-2.27%,$ 32.61,$ 31.11,NaN,$ 1.41B,947.85M,$ 29.62B
10,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...
11,11,NaN,Chainlink,LINK,$ 32.68,+1.35%,$ 33.56,$ 32.21,NaN,$ 1.38B,350.00M,$ 11.43B
12,12,NaN,Dogecoin,DOGE,$ 0.051164,+4.39%,$ 0.053674,$ 0.048722,NaN,$ 1.27B,124.53B,$ 6.37B
13,13,NaN,Binanceusd,BUSD,$ 1.00,-0.10%,$ 1.00,$ 0.997228,NaN,$ 1.16B,1.68B,$ 1.68B
14,14,NaN,Bora,BORA,$ 0.268221,+465.32%,$ 0.344352,$ 0.044489,NaN,$ 1.10B,NaN,NaN
15,15,NaN,Tron,TRX,$ 0.053231,+2.10%,$ 0.054744,$ 0.052138,NaN,$ 1.03B,66.68B,$ 3.54B
16,16,NaN,Stellarlumens,XLM,$ 0.500268,+0.68%,$ 0.515216,$ 0.496874,NaN,$ 1.03B,22.43B,$ 11.22B
17,17,NaN,Ethereumclassic,ETC,$ 15.21,-0.76%,$ 15.78,$ 15.02,NaN,$ 1.02B,109.78M,$ 1.66B
18,18,NaN,Iostoken,IOST,$ 0.038760,-3.45%,$ 0.041232,$ 0.038101,NaN,$ 1.01B,6.79B,$ 263.34M
19,19,NaN,Dash,DASH,$ 266.52,-0.11%,$ 269.69,$ 259.33,NaN,$ 854.36M,9.97M,$ 2.65B
20,20,NaN,Cosmos,ATOM,$ 24.22,+1.54%,$ 24.92,$ 23.44,NaN,$ 828.49M,190.68M,$ 4.61B
21,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...
22,21,NaN,Zcash,ZEC,$ 162.10,-3.82%,$ 170.99,$ 160.75,NaN,$ 796.20M,11.15M,$ 1.80B
23,22,NaN,Neo,NEO,$ 43.03,+1.11%,$ 43.75,$ 42.37,NaN,$ 747.95M,70.53M,$ 3.03B
24,23,NaN,Aave,AAVE,$ 472.52,+4.70%,$ 478.23,$ 448.85,NaN,$ 675.57M,10.58M,$ 4.99B
25,24,NaN,Uniswap,UNI,$ 21.47,-0.24%,$ 22.24,$ 21.26,NaN,$ 638.72M,126.20M,$ 2.70B
26,25,NaN,The Graph,GRT,$ 2.22,+1.70%,$ 2.35,$ 2.16,NaN,$ 635.49M,1.22B,$ 2.72B
27,26,NaN,Monero,XMR,$ 265.19,-2.57%,$ 276.31,$ 262.21,NaN,$ 624.77M,16.92M,$ 4.48B
28,27,NaN,Qtum,QTUM,$ 6.93,+4.35%,$ 7.26,$ 6.64,NaN,$ 622.80M,89.40M,$ 619.55M
29,28,NaN,Huobitoken,HT,$ 15.30,+6.61%,$ 15.59,$ 13.88,NaN,$ 527.82M,50.00M,$ 765.00M
...,...,...,...,...,...,...,...,...,...,...,...,...
72,71,NaN,Mdex,MDX,$ 3.93,+12.83%,$ 4.16,$ 3.35,NaN,$ 135.78M,NaN,NaN
73,72,NaN,Bat,BAT,$ 0.597943,+4.07%,$ 0.605875,$ 0.574567,NaN,$ 132.43M,1.50B,$ 896.91M
74,73,NaN,SafePal,SFP,$ 3.07,-5.23%,$ 3.34,$ 3.03,NaN,$ 129.80M,NaN,NaN
75,74,NaN,Compound,COMP,$ 465.52,-1.83%,$ 480.25,$ 459.56,NaN,$ 126.72M,2.56M,$ 1.19B
76,75,NaN,Bitcoinsv,BCHSV,$ 243.79,-0.42%,$ 255.87,$ 240.82,NaN,$ 126.11M,18.45M,$ 4.49B
77,76,NaN,Litentry,LIT,$ 11.78,+5.45%,$ 12.48,$ 11.14,NaN,$ 120.07M,18.00M,$ 211.96M
78,77,NaN,Loopring,LRC,$ 0.780377,+2.80%,$ 0.808822,$ 0.755669,NaN,$ 118.18M,286.17M,$ 223.32M
79,78,NaN,Nano,NANO,$ 6.65,+4.06%,$ 6.79,$ 6.39,NaN,$ 116.31M,133.24M,$ 886.34M
80,79,NaN,Dfi.money,YFII,"$ 3,222.29",-3.65%,"$ 3,457.94","$ 3,179.26",NaN,$ 116.08M,40.00K,$ 128.89M
81,80,NaN,Dai,DAI,$ 1.00,-0.21%,$ 1.01,$ 0.996306,NaN,$ 115.52M,NaN,NaN
82,81,NaN,Venus,XVS,$ 67.91,+13.59%,$ 71.29,$ 58.22,NaN,$ 114.64M,NaN,NaN
83,82,NaN,Mainframe,MFT,$ 0.019639,-0.88%,$ 0.020877,$ 0.019056,NaN,$ 108.32M,2.16B,$ 42.49M
84,83,NaN,Dvision Network,DVI,$ 0.128684,+1.15%,$ 0.149941,$ 0.123617,NaN,$ 101.55M,NaN,NaN
85,84,NaN,Alpha Finance Lab,ALPHA,$ 1.66,-1.13%,$ 1.86,$ 1.64,NaN,$ 101.28M,NaN,NaN
86,85,NaN,Kyber,KNC,$ 2.14,+0.63%,$ 2.20,$ 2.11,NaN,$ 97.07M,180.93M,$ 387.11M
87,86,NaN,Ren,REN,$ 1.02,+0.49%,$ 1.06,$ 0.998767,NaN,$ 95.21M,520.32M,$ 532.43M
88,87,NaN,Horizen,ZEN,$ 79.84,+8.13%,$ 84.59,$ 72.63,NaN,$ 92.29M,8.92M,$ 712.20M
89,88,NaN,Metal,MTL,$ 0.965393,+13.67%,$ 1.21,$ 0.849267,NaN,$ 91.97M,66.58M,$ 64.28M
90,89,NaN,Decentraland,MANA,$ 0.303364,+1.54%,$ 0.319541,$ 0.295889,NaN,$ 89.96M,1.05B,$ 318.57M
91,90,NaN,Fantom,FTM,$ 0.217575,+31.64%,$ 0.219661,$ 0.165094,NaN,$ 89.70M,1.81B,$ 394.60M
92,91,NaN,Reserverights,RSR,$ 0.061500,+8.22%,$ 0.062530,$ 0.056813,NaN,$ 88.42M,9.34B,$ 574.88M
93,92,NaN,Maker,MKR,"$ 2,624.28",+0.58%,"$ 2,702.24","$ 2,600.35",NaN,$ 87.65M,1.00M,$ 2.63B
94,93,NaN,Ravencoin,RVN,$ 0.083723,+13.08%,$ 0.084603,$ 0.073799,NaN,$ 87.12M,7.18B,$ 601.67M
95,94,NaN,Ftxtoken,FTT,$ 24.68,+6.12%,$ 25.22,$ 23.25,NaN,$ 85.87M,94.34M,$ 2.32B
96,95,NaN,NuCypher,NU,$ 0.778309,-1.47%,$ 0.806834,$ 0.769248,NaN,$ 82.41M,349.42M,$ 271.96M
97,96,NaN,Kava,KAVA,$ 4.75,+1.08%,$ 4.96,$ 4.70,NaN,$ 80.92M,6.23M,$ 29.61M
98,97,NaN,Celo,CELO,$ 4.64,-3.20%,$ 4.92,$ 4.63,NaN,$ 78.05M,97.94M,$ 454.71M
99,98,NaN,Anchor Neural World,ANW,$ 0.109046,+3.03%,$ 0.112569,$ 0.104026,NaN,$ 77.87M,NaN,NaN
100,99,NaN,Serum,SRM,$ 3.95,+3.50%,$ 4.01,$ 3.80,NaN,$ 76.36M,31.00M,$ 122.41M
101,100,NaN,Tenx,PAY,$ 0.160727,+0.41%,$ 0.169750,$ 0.155224,NaN,$ 74.87M,205.21M,$ 32.98M

In [118]:
df.iloc[:,2:]

,Name,Ticker,Last price,%,24 high,24 low,Price Charts 7d,24 volume,# Coins,Market cap
0,Bitcoin,BTC,"$ 51,681",-0.88%,"$ 52,539","$ 51,396",NaN,$ 19.46B,18.63M,$ 962.91B
1,Ethereum,ETH,"$ 1,912.63",+3.38%,"$ 1,927.75","$ 1,850.07",NaN,$ 13.92B,114.72M,$ 219.41B
2,Litecoin,LTC,$ 231.64,-2.38%,$ 238.68,$ 226.88,NaN,$ 4.25B,66.08M,$ 15.30B
3,Binancecoin,BNB,$ 182.99,+10.64%,$ 195.23,$ 163.06,NaN,$ 3.93B,99.01M,$ 18.11B
4,Ripple,XRP,$ 0.537995,+0.77%,$ 0.558715,$ 0.533892,NaN,$ 2.56B,45.67B,$ 24.57B
5,Cardano,ADA,$ 0.940584,+5.50%,$ 0.957145,$ 0.891570,NaN,$ 2.08B,25.92B,$ 24.38B
6,Payprotocol,PCI,$ 2.10,-38.50%,$ 3.85,$ 1.92,NaN,$ 1.93B,NaN,NaN
7,Bitcoincash,BCH,$ 713.66,-0.42%,$ 729.02,$ 708.77,NaN,$ 1.86B,18.45M,$ 13.17B
8,Eos,EOS,$ 4.82,-0.30%,$ 4.98,$ 4.78,NaN,$ 1.75B,1.01B,$ 4.91B
9,Polkadot,DOT,$ 31.25,-2.27%,$ 32.61,$ 31.11,NaN,$ 1.41B,947.85M,$ 29.62B
10,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...
11,Chainlink,LINK,$ 32.68,+1.35%,$ 33.56,$ 32.21,NaN,$ 1.38B,350.00M,$ 11.43B
12,Dogecoin,DOGE,$ 0.051164,+4.39%,$ 0.053674,$ 0.048722,NaN,$ 1.27B,124.53B,$ 6.37B
13,Binanceusd,BUSD,$ 1.00,-0.10%,$ 1.00,$ 0.997228,NaN,$ 1.16B,1.68B,$ 1.68B
14,Bora,BORA,$ 0.268221,+465.32%,$ 0.344352,$ 0.044489,NaN,$ 1.10B,NaN,NaN
15,Tron,TRX,$ 0.053231,+2.10%,$ 0.054744,$ 0.052138,NaN,$ 1.03B,66.68B,$ 3.54B
16,Stellarlumens,XLM,$ 0.500268,+0.68%,$ 0.515216,$ 0.496874,NaN,$ 1.03B,22.43B,$ 11.22B
17,Ethereumclassic,ETC,$ 15.21,-0.76%,$ 15.78,$ 15.02,NaN,$ 1.02B,109.78M,$ 1.66B
18,Iostoken,IOST,$ 0.038760,-3.45%,$ 0.041232,$ 0.038101,NaN,$ 1.01B,6.79B,$ 263.34M
19,Dash,DASH,$ 266.52,-0.11%,$ 269.69,$ 259.33,NaN,$ 854.36M,9.97M,$ 2.65B
20,Cosmos,ATOM,$ 24.22,+1.54%,$ 24.92,$ 23.44,NaN,$ 828.49M,190.68M,$ 4.61B
21,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...
22,Zcash,ZEC,$ 162.10,-3.82%,$ 170.99,$ 160.75,NaN,$ 796.20M,11.15M,$ 1.80B
23,Neo,NEO,$ 43.03,+1.11%,$ 43.75,$ 42.37,NaN,$ 747.95M,70.53M,$ 3.03B
24,Aave,AAVE,$ 472.52,+4.70%,$ 478.23,$ 448.85,NaN,$ 675.57M,10.58M,$ 4.99B
25,Uniswap,UNI,$ 21.47,-0.24%,$ 22.24,$ 21.26,NaN,$ 638.72M,126.20M,$ 2.70B
26,The Graph,GRT,$ 2.22,+1.70%,$ 2.35,$ 2.16,NaN,$ 635.49M,1.22B,$ 2.72B
27,Monero,XMR,$ 265.19,-2.57%,$ 276.31,$ 262.21,NaN,$ 624.77M,16.92M,$ 4.48B
28,Qtum,QTUM,$ 6.93,+4.35%,$ 7.26,$ 6.64,NaN,$ 622.80M,89.40M,$ 619.55M
29,Huobitoken,HT,$ 15.30,+6.61%,$ 15.59,$ 13.88,NaN,$ 527.82M,50.00M,$ 765.00M
...,...,...,...,...,...,...,...,...,...,...
72,Mdex,MDX,$ 3.93,+12.83%,$ 4.16,$ 3.35,NaN,$ 135.78M,NaN,NaN
73,Bat,BAT,$ 0.597943,+4.07%,$ 0.605875,$ 0.574567,NaN,$ 132.43M,1.50B,$ 896.91M
74,SafePal,SFP,$ 3.07,-5.23%,$ 3.34,$ 3.03,NaN,$ 129.80M,NaN,NaN
75,Compound,COMP,$ 465.52,-1.83%,$ 480.25,$ 459.56,NaN,$ 126.72M,2.56M,$ 1.19B
76,Bitcoinsv,BCHSV,$ 243.79,-0.42%,$ 255.87,$ 240.82,NaN,$ 126.11M,18.45M,$ 4.49B
77,Litentry,LIT,$ 11.78,+5.45%,$ 12.48,$ 11.14,NaN,$ 120.07M,18.00M,$ 211.96M
78,Loopring,LRC,$ 0.780377,+2.80%,$ 0.808822,$ 0.755669,NaN,$ 118.18M,286.17M,$ 223.32M
79,Nano,NANO,$ 6.65,+4.06%,$ 6.79,$ 6.39,NaN,$ 116.31M,133.24M,$ 886.34M
80,Dfi.money,YFII,"$ 3,222.29",-3.65%,"$ 3,457.94","$ 3,179.26",NaN,$ 116.08M,40.00K,$ 128.89M
81,Dai,DAI,$ 1.00,-0.21%,$ 1.01,$ 0.996306,NaN,$ 115.52M,NaN,NaN
82,Venus,XVS,$ 67.91,+13.59%,$ 71.29,$ 58.22,NaN,$ 114.64M,NaN,NaN
83,Mainframe,MFT,$ 0.019639,-0.88%,$ 0.020877,$ 0.019056,NaN,$ 108.32M,2.16B,$ 42.49M
84,Dvision Network,DVI,$ 0.128684,+1.15%,$ 0.149941,$ 0.123617,NaN,$ 101.55M,NaN,NaN
85,Alpha Finance Lab,ALPHA,$ 1.66,-1.13%,$ 1.86,$ 1.64,NaN,$ 101.28M,NaN,NaN
86,Kyber,KNC,$ 2.14,+0.63%,$ 2.20,$ 2.11,NaN,$ 97.07M,180.93M,$ 387.11M
87,Ren,REN,$ 1.02,+0.49%,$ 1.06,$ 0.998767,NaN,$ 95.21M,520.32M,$ 532.43M
88,Horizen,ZEN,$ 79.84,+8.13%,$ 84.59,$ 72.63,NaN,$ 92.29M,8.92M,$ 712.20M
89,Metal,MTL,$ 0.965393,+13.67%,$ 1.21,$ 0.849267,NaN,$ 91.97M,66.58M,$ 64.28M
90,Decentraland,MANA,$ 0.303364,+1.54%,$ 0.319541,$ 0.295889,NaN,$ 89.96M,1.05B,$ 318.57M
91,Fantom,FTM,$ 0.217575,+31.64%,$ 0.219661,$ 0.165094,NaN,$ 89.70M,1.81B,$ 394.60M
92,Reserverights,RSR,$ 0.061500,+8.22%,$ 0.062530,$ 0.056813,NaN,$ 88.42M,9.34B,$ 574.88M
93,Maker,MKR,"$ 2,624.28",+0.58%,"$ 2,702.24","$ 2,600.35",NaN,$ 87.65M,1.00M,$ 2.63B
94,Ravencoin,RVN,$ 0.083723,+13.08%,$ 0.084603,$ 0.073799,NaN,$ 87.12M,7.18B,$ 601.67M
95,Ftxtoken,FTT,$ 24.68,+6.12%,$ 25.22,$ 23.25,NaN,$ 85.87M,94.34M,$ 2.32B
96,NuCypher,NU,$ 0.778309,-1.47%,$ 0.806834,$ 0.769248,NaN,$ 82.41M,349.42M,$ 271.96M
97,Kava,KAVA,$ 4.75,+1.08%,$ 4.96,$ 4.70,NaN,$ 80.92M,6.23M,$ 29.61M
98,Celo,CELO,$ 4.64,-3.20%,$ 4.92,$ 4.63,NaN,$ 78.05M,97.94M,$ 454.71M
99,Anchor Neural World,ANW,$ 0.109046,+3.03%,$ 0.112569,$ 0.104026,NaN,$ 77.87M,NaN,NaN
100,Serum,SRM,$ 3.95,+3.50%,$ 4.01,$ 3.80,NaN,$ 76.36M,31.00M,$ 122.41M
101,Tenx,PAY,$ 0.160727,+0.41%,$ 0.169750,$ 0.155224,NaN,$ 74.87M,205.21M,$ 32.98M

In [121]:
df["Name"].unique()

array(['Bitcoin', 'Ethereum', 'Litecoin', 'Binancecoin', 'Ripple',
       'Cardano', 'Payprotocol', 'Bitcoincash', 'Eos', 'Polkadot',
       "googletag.cmd.push(function() { googletag.display('div-gpt-ad-1571049370698-0'); });",
       'Chainlink', 'Dogecoin', 'Binanceusd', 'Bora', 'Tron',
       'Stellarlumens', 'Ethereumclassic', 'Iostoken', 'Dash', 'Cosmos',
       "googletag.cmd.push(function() { googletag.display('div-gpt-ad-1571049390094-0'); });",
       'Zcash', 'Neo', 'Aave', 'Uniswap', 'The Graph', 'Monero', 'Qtum',
       'Huobitoken', 'Polymathnetwork', 'Sushi', 'Bancor', 'Tether',
       'Frontier', 'Elrond', 'Filecoin', 'Terra', 'Algorand',
       'Bittorrent', 'Tezos', 'Ontology', 'OMG Network', 'Vechain',
       'Kusama', 'Pundix', 'Avalanche', 'Yearn.finance', 'Sodacoin',
       'Swipe', 'Medibloc', 'Cryptocomchain', 'Okb', 'Icon', 'Quiztok',
       'Nem', 'Synthetixnetwork', 'Zilliqa', 'Waves', 'Mil.k',
       'Curve DAO Token', 'Usd coin', '0x', 'Bandprotocol', 'Reef',
       '1inch', 'Massvehicleledger', 'Wrappedbitcoin', 'Klaytn',
       'Einsteinium', 'Maticnetwork', 'Thetatoken', 'Mdex', 'Bat',
       'SafePal', 'Compound', 'Bitcoinsv', 'Litentry', 'Loopring', 'Nano',
       'Dfi.money', 'Dai', 'Venus', 'Mainframe', 'Dvision Network',
       'Alpha Finance Lab', 'Kyber', 'Ren', 'Horizen', 'Metal',
       'Decentraland', 'Fantom', 'Reserverights', 'Maker', 'Ravencoin',
       'Ftxtoken', 'NuCypher', 'Kava', 'Celo', 'Anchor Neural World',
       'Serum', 'Tenx'], dtype=object)

In [125]:
import pandas as pd
df=pd.read_csv("Automobile_data.csv")
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.00,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.00,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.00,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.50,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.50,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.50,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.30,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.4,7.00,160,5500,16,22,?
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.5,2.8,8.80,101,5800,23,29,16430
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.5,2.8,8.80,101,5800,23,29,16925
12,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.00,121,4250,21,28,20970
13,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.00,121,4250,21,28,21105
14,1,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.00,121,4250,20,25,24565
15,0,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.00,182,5400,16,22,30760
16,0,?,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.00,182,5400,16,22,41315
17,0,?,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.00,182,5400,15,20,36880
18,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.50,48,5100,47,53,5151
19,1,98,chevrolet,gas,std,two,hatchback,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70,5400,38,43,6295
20,0,81,chevrolet,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70,5400,38,43,6575
21,1,118,dodge,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.41,68,5500,37,41,5572
22,1,118,dodge,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6377
23,1,118,dodge,gas,turbo,two,hatchback,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.60,102,5500,24,30,7957
24,1,148,dodge,gas,std,four,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6229
25,1,148,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6692
26,1,148,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,7609
27,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.60,102,5500,24,30,8558
28,-1,110,dodge,gas,std,four,wagon,fwd,front,103.3,...,122,2bbl,3.34,3.46,8.50,88,5000,24,30,8921
29,3,145,dodge,gas,turbo,two,hatchback,fwd,front,95.9,...,156,mfi,3.6,3.9,7.00,145,5000,19,24,12964
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,-1,65,toyota,gas,std,four,hatchback,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.70,92,4200,27,32,9988
176,-1,65,toyota,gas,std,four,sedan,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.70,92,4200,27,32,10898
177,-1,65,toyota,gas,std,four,hatchback,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.70,92,4200,27,32,11248
178,3,197,toyota,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.30,161,5200,20,24,16558
179,3,197,toyota,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.30,161,5200,19,24,15998
180,-1,90,toyota,gas,std,four,sedan,rwd,front,104.5,...,171,mpfi,3.27,3.35,9.20,156,5200,20,24,15690
181,-1,?,toyota,gas,std,four,wagon,rwd,front,104.5,...,161,mpfi,3.27,3.35,9.20,156,5200,19,24,15750
182,2,122,volkswagen,diesel,std,two,sedan,fwd,front,97.3,...,97,idi,3.01,3.4,23.00,52,4800,37,46,7775
183,2,122,volkswagen,gas,std,two,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.4,9.00,85,5250,27,34,7975
184,2,94,volkswagen,diesel,std,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.4,23.00,52,4800,37,46,7995
185,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.4,9.00,85,5250,27,34,8195
186,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.4,9.00,85,5250,27,34,8495
187,2,94,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.4,23.00,68,4500,37,42,9495
188,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.4,10.00,100,5500,26,32,9995
189,3,?,volkswagen,gas,std,two,convertible,fwd,front,94.5,...,109,mpfi,3.19,3.4,8.50,90,5500,24,29,11595
190,3,256,volkswagen,gas,std,two,hatchback,fwd,front,94.5,...,109,mpfi,3.19,3.4,8.50,90,5500,24,29,9980
191,0,?,volkswagen,gas,std,four,sedan,fwd,front,100.4,...,136,mpfi,3.19,3.4,8.50,110,5500,19,24,13295
192,0,?,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.4,23.00,68,4500,33,38,13845
193,0,?,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,109,mpfi,3.19,3.4,9.00,88,5500,25,31,12290
194,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114,5400,23,28,12940
195,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114,5400,23,28,13415
196,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114,5400,24,28,15985
197,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114,5400,24,28,16515
198,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.50,162,5100,17,22,18420
199,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.50,162,5100,17,22,18950
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.50,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.70,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.80,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.00,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.50,114,5400,19,25,22625

In [126]:
df.shape

(205, 26)

In [129]:
df['make'].value_counts()

toyota           32
nissan           18
mazda            17
honda            13
mitsubishi       13
subaru           12
volkswagen       12
volvo            11
peugot           11
dodge             9
mercedes-benz     8
bmw               8
plymouth          7
audi              7
saab              6
porsche           5
isuzu             4
jaguar            3
alfa-romero       3
chevrolet         3
renault           2
mercury           1
Name: make, dtype: int64

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized-losses    205 non-null object
make                 205 non-null object
fuel-type            205 non-null object
aspiration           205 non-null object
num-of-doors         205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
wheel-base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb-weight          205 non-null int64
engine-type          205 non-null object
num-of-cylinders     205 non-null object
engine-size          205 non-null int64
fuel-system          205 non-null object
bore                 205 non-null object
stroke               205 non-null object
compression-ratio    205 non-null float64
horsepower           205 non-null object
peak-rpm             205 non-null object
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.7+ KB